.PopupOverlay {
    position: fixed;
    opacity: 0.9;
    display: none;
}

.overlayItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.902;
    width: 100%;
    height: 100%;
}

.overlayItem_Image {
    width: 16rem;
    height: 16rem;
    background-size: contain;
    border-radius: 50%;
}

.overlayItem__Wrong {
    background: #ba3333;
}

.overlayItem_Image__Wrong {
    background: url("../../images/icons/wrong.png") 50% no-repeat;
}

.overlayItem__Right {
    background: #4a9b19;
}

.overlayItem_Image__Right{
    background: url("../../images/icons/right.png") 50% no-repeat;
}