<div class="gamePage">
    <div class="Popup">
        <div class="ResultHeader">Твой результат</div>
        <div class="ResultText">{{Right}}/{{All}}</div>
        <div class="ResultHint">Ты хорошо справляешься! Готов к следующему заданию?</div>
        <button id="RestartBtn" class="Button Button__Restart">{{RestartCaption}}</button>
        <div id="DelayLink" class="delayLink">Отложить на потом</div>
    </div>
</div>