.ResultHeader {
    color :#030303;
    font-size: 1.5rem;
    margin-top: 5.5rem;
    margin-bottom: 1rem;
}

.ResultText {
    font-size: 3.75rem;
    font-style: italic;
    margin-bottom: 2.625rem;
}

.ResultHint {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.Button__Restart {
    background-color: #f5e155;
    margin-bottom: 1rem;
}