<div class="mainPage">
    <div class="mainContainer">
        <div class="topContainer">
        </div>

        <div class="bottomContainer">
            <h1 class="mainHeader">Что, если Пушкин не погиб на дуэли?</h1>
            <div class="mainText">Ученики из обычной московской школы в решающий момент смертельного сражения перенесли
                поэта в XXI век!
            </div>
            <div class="mainText"> И хотя пуля Дантеса не достигла цели, современный мир таит в себе не меньше
                опасностей. Смотри в кино
            </div>
            <div class="mainText mainText_Bottom">семейную комедию «Спасти Пушкина» уже с 27 апреля!</div>
            <button id="MainBtn" class="Button Button__Start">НАЧАТЬ ИГРУ</button>
            <div class="questText">Участвуй в квесте по мотивам произведений Пушкина, чтобы проверить знания</div>
            <div class="rules">
                <div class="rules__Text">Полные правила</div>
                <div class="rules__Icon"></div>
            </div>
        </div>
    </div>
</div>