    <div class="Popup">
        <div class="testTitle">Тест</div>
        <div class="testHeader">Узнаешь ли ты строки Пушкина?</div>
        <div class="testText">{{text}}</div>
        <div class="testButtons">
            <button id="right" class="Button Button__Right">Пушкин</button>
            <button id="wrong" class="Button Button__Wrong">Не Пушкин</button>
        </div>
    </div>

    {{> "../popupOverlay/popupOverlay.hbs"}}