<div class="gamePage">
    <div class="Popup">
        <div class="startHeader">Задание №{{taskNumber}}</div>
        <div class="startText">Узнаешь ли ты строки</div>
        <div class="startText">из произведений Пушкина?</div>
        <button id="StartBtn" class="Button Button__Start">НАЧАТЬ</button>
        <div id="DelayLink" class="delayLink">Отложить на потом</div>
    </div>
</div>
